<?xml version='1.0'?>

<robot name="my_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <link name="robot_footprint"></link>

  <joint name="robot_footprint_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="robot_footprint"/>
    <child link="chassis" />
  </joint>

  <link name='chassis'>
    <pose>0 0 0.1 0 0 0</pose>

    <inertial>
      <mass value="15.0"/>
      <origin xyz="0.0 0 0" rpy=" 0 0 0"/>
      <inertia
          ixx="0.1" ixy="0" ixz="0"
          iyy="0.1" iyz="0"
          izz="0.1"
      />
    </inertial>

    <collision name='collision'>
      <origin xyz="0 0 0" rpy=" 0 0 0"/> 
      <geometry>
        <box size=".4 .2 .1"/>
      </geometry>
    </collision>

    <visual name='chassis_visual'>
      <origin xyz="0 0 0" rpy=" 0 0 0"/>
      <geometry>
        <box size=".4 .2 .1"/>
      </geometry>
    </visual>


    <collision name='back_caster_collision'>
      <origin xyz="-0.15 0 -0.05" rpy=" 0 0 0"/>
      <geometry>
        <sphere radius="0.0499"/>
      </geometry>
    </collision>

    <visual name='back_caster_visual'>
      <origin xyz="-0.15 0 -0.05" rpy=" 0 0 0"/>
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
    </visual>

    <collision name='front_caster_collision'>
      <origin xyz="0.15 0 -0.05" rpy=" 0 0 0"/>
      <geometry>
        <sphere radius="0.0499"/>
      </geometry>
    </collision>

    <visual name='front_caster_visual'>
      <origin xyz="0.15 0 -0.05" rpy=" 0 0 0"/>
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
    </visual>

  	<!-- Realizando testes para entender RPY -->
    <visual>
      <origin xyz="1 1 0" rpy="0.5236 1.0472 0"/>
      	<geometry> 
        	<cylinder radius="0.25" length="0.1"/> 
      	</geometry>     	
    </visual>
    <!-- Fim testes RPY                      -->

  </link>

  <!-- Robot Enhancements -->
  <!-- Constants for robots dimensions -->

  <xacro:property name="PI" value="3.1415926535897931"/>
  <xacro:property name="width" value="0.2" />
  <xacro:property name="height" value="0.1" />
  <xacro:property name="length" value="0.4" />
  <xacro:property name="wheel_radius" value="0.1" />
  <xacro:property name="wheel_thickness" value="0.05" />

  <!-- Import Rviz colors -->
  <xacro:include filename="materials.xacro" />

  <!-- Defining the left wheel        -->
  <link name='left_wheel'>
    <inertial>
      <mass value="5.0"/>
      <origin xyz="0 0 0" rpy="0 ${PI/2} ${PI/2}"/>
      <inertia
        ixx="0.1" ixy="0" ixz="0"
        iyy="0.1" iyz="0"
        izz="0.1"
      />
    </inertial>

    <collision>
      <origin xyz="0 0 0" rpy="0 ${PI/2} ${PI/2}"/>
      <geometry> 
        <cylinder radius="${wheel_radius}" length="${wheel_thickness}"/> 
      </geometry> 
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 ${PI/2} ${PI/2}"/>   	
      <geometry> 
        <cylinder radius="${wheel_radius}" length="${wheel_thickness}"/> 
      </geometry>
      <material name="blue"/>      
    </visual>  	
  </link>  

  <!-- Defining the right wheel        -->
  <link name='right_wheel'>
    <inertial>
      <mass value="5.0"/>
      <origin xyz="0 0 0" rpy="0 ${PI/2} ${PI/2}"/>
      <inertia
        ixx="0.1" ixy="0" ixz="0"
        iyy="0.1" iyz="0"
        izz="0.1"
      />
    </inertial>

    <collision>
      <origin xyz="0 0 0" rpy="0 ${PI/2} ${PI/2}"/>
      <geometry> 
        <cylinder radius="${wheel_radius}" length="${wheel_thickness}"/> 
      </geometry> 
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 ${PI/2} ${PI/2}"/>   	
      <geometry> 
        <cylinder radius="${wheel_radius}" length="${wheel_thickness}"/> 
      </geometry>
      <material name="blue"/>       
    </visual>  	
  </link>

  <!-- Defining the joints for the wheels -->
  <!-- Bellow simply copyed from 6/Create Joints for the two wheels -->
  <joint type="continuous" name="left_wheel_hinge">
    <origin xyz="0 0.15 0" rpy="0 0 0"/>
    <child link="left_wheel"/>
    <parent link="chassis"/>
    <axis xyz="0 1 0" rpy="0 0 0"/>
    <limit effort="10000" velocity="1000"/>
    <dynamics damping="1.0" friction="1.0"/>
  </joint>

  <!-- Bellow simply copyed from 6.Create Joints for the two wheels -->
  <joint type="continuous" name="right_wheel_hinge">
    <origin xyz="0 -0.15 0" rpy="0 0 0"/>
    <child link="right_wheel"/>
    <parent link="chassis"/>
    <axis xyz="0 1 0" rpy="0 0 0"/>
    <limit effort="10000" velocity="1000"/>
    <dynamics damping="1.0" friction="1.0"/>
  </joint>	  

</robot>
